@font-face{
    font-family: 'Haymaker';
    src: url('/fonts/aa_haymaker.ttf');
}

.uk-navbar-container{background-color:#fff!important;}

html{
    font-size: 14px;
    line-height: 18px;
    font-family: 'Open Sans', sans-serif;
}
a{color:#9D8660;}
a:hover{color:#302e2e;text-decoration:none;}

.tm-head-container{background: #fff;box-shadow: 0 10px 20px rgba(50,50,50,.1)}
.tm-head-container-mob{box-shadow: 0 2px 20px rgba(50,50,50,.1);}  
.tm-head-container-mob .uk-navbar-item, .tm-head-container-mob .uk-navbar-nav>li>a, .tm-head-container-mob .uk-navbar-toggle {min-height: 60px;}  

h1,h2,h3,h4,h5,h6,.uk-h1,.uk-h2,.uk-h3,.uk-h4,.uk-h5,.uk-h6{font-family:"Haymaker"!important;}
.uk-h4{font-size:1.1rem;}

.tm-price{color:#8b6a1b;font-size:14px;font-weight:bold;}
.uk-accordion-title{font-family:"Haymaker"!important;font-size: 1.05rem;line-height: 1.4;}

.uk-logo{
    font-family: "Haymaker"!important;
    font-weight: bold;
    font-size: 26px;
}

.tm-user .uk-button{padding-left:20px;padding-right:20px;}
.tm-user .uk-button-link{font-size:11px;}
.tm-user a{font-size:11px;}
            
            
.tm-tovar-card-small .uk-subnav a, .tm-tovar-card-small span{font-size:10px;}
.tm-name-card-small, .uk-button{font-size:11px;}
        
.tm-tovar .uk-card-title{font-size:1.1rem;line-height:1.1;font-weight:600;}

.tm-nav-small .uk-navbar-item{min-height: 40px;}
.tm-nav-small .uk-border-rounded {border-radius: 50px;}
.tm-head-cintainer{
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
}

.uk-search-default .uk-search-input:focus {
    background-color: rgba(0,0,0,0);
    border-color: #8b6a1c;
}

.uk-search-default  .uk-search-input{
    border-radius:500px;
    border-color: #8b6a1c;
}
.uk-search-default{width:200px;}

.uk-search .uk-search-icon {
    color: #9d8661;
}

.off-footer-tm{background-color:#302e2e;}

.tm-color-switcher a{
    background-size:cover;
    background-position:center center;
    border: 2px solid #fff;
    display: inline-flex;
    border-radius: 50%;
    width:38px;height:38px;
    position:relative;
}

.tm-color-switcher a:before {
    content: "";
    display: block;
    position: absolute;
    right:-3px;
    top:-3px;
    width:42px;height:42px;
    border: 1px solid #8b6a1b;
    border-radius: 50%
}

.tm-color-switcher .active a:before {
    border: 2px solid #1b8b1b;
    right: -4px;
    top: -4px;
}

.tm-other-switcher .active a {
    border: 2px solid #1b8b1b;
}

.tm-color-switcher  a.tm-active1{
    border: 0px solid #8b6a1b;
}

.bg1{width:30px;height:30px;margin:0px;}

.tm-color-switcher2  a, .tm-color-switcher2 span{background-size:cover;background-position:center center;padding: 0px;border: 1px solid #8b6a1b;display: inline-flex;border-radius: 10%;width:50px;height:50px}

.bg1-1{width:50px;height:50px;margin:0px;border:0px!important;}	

input.uk-form-width-xsmall {
    width: 60px;
    border-radius: 500px!important;
}

.uk-button-primary {
    background-color: #9d8661;
    color: #fff;
    border: 1px solid transparent;
}
.uk-button-primary.active, .uk-button-primary:not([disabled]):hover {
    background-color: #302e2e;
}
.uk-button {
    border-radius: 500px!important;
}
.uk-icon-button {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 500px;
    background: #9d8661;
    color: #fff;
}

.tm-other-switcher a{
    border: 0px solid #666;
    padding: 7px;
    border-radius: 5px;
    display:inline-block;
    background:#dddddd8a;
}
.tm-other-switcher a.tm-active{
    border: 1px solid #8b6a1b;
}

.uk-grid-column-small, .uk-grid-xsmall {
    margin-left: -5px;
}
.uk-grid-column-small>*, .uk-grid-xsmall>* {
    padding-left: 5px;
}

.tm-head-small{
    background:#9d86610f;
}
.tm-head-small .uk-navbar-item{
    min-height: 40px;
    font-size: .675rem;
}
.tm-head-small .uk-navbar-nav>li>a{
    min-height: 40px;
    font-size: .675rem;
}
.tm-head-small .uk-button-link{
    font-size: .675rem;
}

.uk-light .uk-nav-default>li>a, .uk-offcanvas-bar .uk-nav-default>li>a, .uk-overlay-primary .uk-nav-default>li>a, .uk-section-primary:not(.uk-preserve-color) .uk-nav-default>li>a, .uk-section-secondary:not(.uk-preserve-color) .uk-nav-default>li>a, .uk-tile-primary:not(.uk-preserve-color) .uk-nav-default>li>a, .uk-tile-secondary:not(.uk-preserve-color) .uk-nav-default>li>a {
    color: rgb(255 255 255 / 80%);
}
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a{
    color: rgb(255 255 255 / 80%);
}

.tm-filtr-mob .uk-card-default{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    position: absolute!important;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #302e2e;
    color: #fff;
}

.color01{background-color:red!important;}
.color02{background-color:#00008b!important;}
.color03{background-color:green!important;}

.uk-offcanvas-bar .tm-color .uk-checkbox:checked{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")
}

.uk-offcanvas-bar .uk-text-small{font-family: 'Open Sans', sans-serif;font-size:11px;}

.tm-tovar .uk-overlay{padding:5px;color:red;}
.tm-price span{
    color: #898686;
}
.tm-tovar-grid .tm-icon{
    height:auto!important;
    padding: 10px;
    height: 25px;
    width: 25;
}
.tm-tovar-grid .tm-tovar .uk-position-xsmall {
    margin: 5px!important;
    --uk-position-margin-offset: 5px!important;
}

.uk-pagination>.uk-active>* {
    color: #9D8660;
}

.static-page {
    font-size: 18px;
    line-height: 24px;
}

@keyframes blinker {
    from { color: #f70074; }
    to { color: gray;  }
}
   
@-webkit-keyframes blinker {
    from { color: #f70074; }
    to { color: gray; }
}

.footer-insta {
    position: fixed;
    bottom: 22px;
    right: 30px;

    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 4s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 4s;
}

.off-footer-tm{
    margin-left: -20px;
    margin-right: -20px;
}

.spinner-bg {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 100001; 
    background: #000;
    opacity: 0.4;
}

.spinner {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 100002;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uk-dotnav>.uk-active>* {
    background-color: rgb(157 134 97);
    border-color: transparent;
 }
 .uk-slideshow .uk-slidenav-previous,  .uk-slideshow .uk-slidenav-next {
    background: #dddddd8a!important;
    color: #8E6A1E;
 }
 .uk-slideshow .uk-slidenav-previous:hover,  .uk-slideshow .uk-slidenav-next:hover {
    background: #9d8661!important;
    color: #fff;
 }

 .add-favorite-window {
    margin-left: -122px;
    position: absolute;
    width: 300px;
    left: 0 !important;
 }

 .little_cart_summ {
    font-size: 14px;
    font-weight: bold;
 }

 .uk-subnav-pill>.uk-active>a {
    background-color: #9d8661;
    color: #fff;
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked{
    background-color: #9d8661;
}

.add-to-favorite {
    top: 10px;
    right: 10px;
    z-index: 100;
}

a.add-to-favorite-link.active, a.add-to-favorite-link:active {
    background-color: #ebebeb;
    color: #666;
}

a.add-to-favorite-link.active path{
    stroke: #bb0000;
    fill: #d10000;
}

.item-old-price{
    text-decoration: line-through;
    color: #a5a5a5;
}

.cart-item-old-price {
    font-size: 14px !important;
}

.autocomplete-suggestions {     background: #ffffff;overflow: auto;box-shadow: 0 5px 15px rgba(0,0,0,.08); }
.autocomplete-suggestion { padding: 7px 10px; white-space: nowrap; overflow: hidden; cursor: pointer }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.uk-navbar-nav>li>a{
    color: #9D8660;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    30% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    30% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.request-call-btn {
    position: fixed;
    right: 37px;
    bottom: 37px;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    font-size: 12px;
    z-index: 1000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(#dac198, #9d8661);
    -webkit-box-shadow: 0px 0px 7px 0 rgb(157 134 97);
    box-shadow: 0px 0px 7px 0 rgb(157 134 97);
    border: 6px solid #e5dfd6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
}

.request-call-btn:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 1px solid #9D8660;
    -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
}

.uk-badge {
    background: #9d8661;
}

.cursor-pointer {
    cursor: pointer;
}
.uk-comment .green polygon {fill: #8cc474 !important;}
.uk-comment .yellow polygon {fill: #ffce55 !important;}
.uk-comment .red polygon {fill: #df5138 !important;}
.uk-comment .maroon polygon {fill: #981b48 !important;}
.list-item-image {height: 238px;}
input[disabled="disabled"], input[disabled="disabled"] + span {
    opacity: 0.3;
}
.uk-offcanvas-bar .tm-color .uk-checkbox:checked{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A")
}
.filter {z-index: 1100}
.uk-icon path {
    stroke: currentcolor;
}

.item-price {
    font-size: 16px;
    color: #8b6a1b !important;
}